* {
    margin: 0;
    padding: 0;
}
html,
body {
    width: 100%;
    height: 100%;
}
#app {
    height: 100%;
    width: 100%;
    position: relative;
}
#searchbar {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    box-sizing: border-box;
    max-width: 100vw;
    width: 400px;
    top: 0;
}
#outerbar {
    background-color: white;
    border: 2px #ddd solid;
    border-radius: 15px;
    padding: 5px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    overflow: hidden;
}
#outerbar:focus-within {
    border: 2px #4ad solid;
}
#innerbar {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 10px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}
input {
    height: 100%;
    font-size: 1rem;
    border: none;
    flex-grow: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-right: 1px #999 solid;
}
input:focus {
    outline: none;
}
.icon {
    cursor: pointer;
    padding: 6px;
    border-radius: 100%;
    aspect-ratio: 1/1;
    background-color: white;
}
.icon:hover {
    background-color: #ccc;
}
#autofills {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.autofill {
    padding: 6px 20px;
    border-top: 1px #bbb solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
    cursor: pointer;
    background-color: white;
}
.autofill:hover {
    background-color: #eee;
}